$footer-height: .75em;


* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  #container {
    min-height: 100%;
    position: relative;
    overflow: auto;
    margin: .25em .5em 0 1.5em;
    padding-bottom: $footer-height;
  }

  .header {
    float: right;
  }

  p {
    margin: .5em 0;
  }

  .pagination {
    margin: 1em 0;
  }

  #footer {
    position: relative;
    clear: both;
    bottom: 0;
    padding: 0 .75em .5em 0;
    margin-top: $footer-height * -3;
    height: $footer-height;

    p {
      float: right;
      font-size: $footer-height;
    }
  }
}
